<form (ngSubmit)="Ajoutuser()" >
    <div class="mb-3">
        
        <input type="text" class="form-control" id="email"  name = "email" placeholder="email" [(ngModel)]="user.email" >
      </div>
      <div class="mb-3">
        
        <input type="text" class="form-control" id="password"  name = "password" placeholder="password" [(ngModel)]="user.password" >
      </div>
      <div class="mb-3">
        
        <input type="text" class="form-control" id="firstname"  name = "firstname" placeholder="firstname" [(ngModel)]="user.firstname" >
      </div>
      <div class="mb-3">
        
        <input type="text" class="form-control" id="lastname"  name = "lastname" placeholder="lastname" [(ngModel)]="user.lastname" >
      </div>
     
      
    
    <div>
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </div>
   
    </form>
