<div class="container d-flex flex-wrap p-3 px-md-4 mb-3 bg-white border-bottom">
  <nav class="navbar navbar-light bg-light">
    <a *ngIf="authService.isLoggedIn" class="p-2 text-dark" routerLink="/products">Liste des Produits</a>
    <a
class="btn btn-light text-dark me-2"
routerLink="/ecommerce">
E-commerce Space
</a>
    <a
      *ngIf="!this.authService.isLoggedIn"
      class="btn btn-light text-dark me-2"
      routerLinkActive="active"
      routerLink="/login">Sign in</a
    >
    <a
      *ngIf="!this.authService.isLoggedIn"
      class="btn btn-light text-dark me-2"
      routerLinkActive="active"
      routerLink="/register">Sign up</a
    >
  </nav>


   <button
     (click)="logout()"
     *ngIf="authService.isLoggedIn"
     type="button"
     class="btn btn-default">
     Logout
   </button>
 </div>
 <div class="container mt-5">
   <div class="mt-5">
     <router-outlet></router-outlet>
   </div>
 </div>
<app-header> </app-header>

